@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;


.warehouse-details {

    @include desktop {
        max-width: 1020px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        border-bottom: 1px solid $cloud;


        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 0 36px 16px;
        }

        @include desktop {
            padding: 0 63px 16px;
        }

        &-container {
            display: flex;
            justify-content: flex-start;
        }

    }

    &__title-name {
        padding-left: 8px;
        @include page-header;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 10px 22px 15px 22px;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 30px;
        }
    }

    &__address-wrapper {
        margin-bottom: 10px;
    }

    &__heading {
        @include table-header;
        margin-bottom: 6px;
        font-size: 0.6rem;
        color: $slate;
        font-weight: 600;
    }

    &__content {
        @include body-small;
        margin: 0;
        line-height: 1.5;
        color: $instock-black;
    }

    &__contact-wrapper {
        display: flex;
        justify-content: space-between;

        @include tablet {
            width: 55%;
            justify-content: flex-start;
        }
    }
}



////////////////////////////////


.inv-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px $cloud;
    margin-bottom: 2rem;

    @include desktop {
        max-width: 1020px;
    }

    &__small-heading {
        @extend .warehouse-details__heading;
    }

    &__paragraph {
        @include body-medium;
        margin: 0 0 8px 0;
    }

    &__status {
        text-transform: uppercase;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        font-weight: 600;
        // width: fit-content;
        color: $green;
        background-color: rgba(21, 132, 99, 0.07);
        border-radius: 1.25rem;
        margin-top: 0;
    }


    &__btn-mobile {
        align-self: flex-start;
        border: none;
        background-color: $white;
        padding: 0;
        margin-top: auto;

        &--edit {
            align-self: flex-end;

        }

        @include tablet {
            display: none;
        }
    }

    &__list-btns {
        display: none;

        @include tablet {
            display: flex;
            margin-left: auto;
        }

        button {
            border: none;
            background-color: transparent;
        }

        :nth-child(2) {
            padding-left: 15px;
        }
    }

    &__header {
        display: none;
        background-color: $light-grey;

        @include tablet {
            padding: 0 36px;
            display: flex;
        }

        @include desktop {
            padding: 0 63;
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--active {
            &:hover {
                text-decoration: underline;
                color: $instock-indigo;
            }
        }
    }

    &__inventory {
        text-decoration: none;
        color: $instock-indigo;
        font-weight: 600;
        margin-bottom: 8px;

        @include tablet {
            width: 25%;
            margin-bottom: 0;
        }

        @include desktop {
            width: 25%;
        }

        p {
            width: auto;
            padding-right: 4px;
            margin-bottom: 0;
        }
    }

    &__address {

        @include tablet {
            width: 20%;
            text-wrap: wrap;
            padding: 8px;

        }

        @include desktop {
            width: 20%;
            text-wrap: wrap;
        }
    }

    &__name {

        @include tablet {
            width: 20%;
            padding: 8px;
        }

        @include desktop {
            width: 20%;
        }
    }

    &__info {
        @include tablet {
            width: 20%;
            text-wrap: wrap;
            padding: 4px;
        }

        @include tablet {
            width: 20%;
        }
    }

    &__action {
        margin-left: auto;
        align-self: center;
    }

    &__mobile-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px 0;
        gap: 15%;
        border-top: 1px solid $cloud;

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__inventory-container {
        display: none;

        @include tablet {
            display: flex;
            padding: 0 36px;
            align-items: center;
            border-top: 1px solid $cloud;
        }

        @include desktop {
            padding: 0 63px;

            &:hover {
                background-color: rgb(46, 102, 229, 0.1);
            }
        }
    }

    &__mobile-inventory {
        display: flex;
        flex-direction: column;
        padding-bottom: 8px;
        width: 30%;
        text-wrap: wrap;
        align-items: start;
    }
}