@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;

.form {
  &__box {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
      padding: 0rem 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  &__title {
    @include subheader;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 8px;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__input {
    border-radius: 20px;
    border: 1px solid $cloud;
    color: $slate;
    width: 100%;
    height: 2.5rem;
    margin: 4px 0 0px 0;
    padding: 0px 16px 0 16px;

    @include tablet {
      margin: 4px 0 10px 0;
    }

    &:focus-visible {
      outline: 1px solid $instock-indigo;
    }

    &--error {
      color: $red;
      border: $red;
      font-size: 0.7rem;
      margin-bottom: 5px;
      background-image: url("../../assets/Icons/error-24px.svg");
      background-size: 15px;
      background-repeat: no-repeat;
      padding-left: 18px;
      background-position: 0 50%;

      @include tablet {
        margin: 0px;
      }
    }

    &--red {
      border: $red 1px solid;
    }

    &::placeholder {
      color: $slate;
      padding: 0;
    }

    &--text {
      height: 120px;
      padding-top: 8px;

      &::placeholder {
        font-family: $font;
        color: $slate;
      }
    }
    &--placeholder {
      color: $slate;
    }

    &--select {
      appearance: none;
      color: $instock-black;
      padding: 5px;
      text-indent: 1rem;
      position: relative;
      background: url("../../assets/Icons/arrow_drop_down-24px.svg") no-repeat
        96% 50%;
      @include desktop {
        background: url("../../assets/Icons/arrow_drop_down-24px.svg") no-repeat
          98% 50%;
      }
      &:focus-visible {
        background: url("../../assets/Icons/arrow_drop_down-24px-blue.svg")
          no-repeat 96% 50%;
        @include desktop {
          background: url("../../assets/Icons/arrow_drop_down-24px.svg")
            no-repeat 98% 50%;
        }
      }
    }

    &--placeholder {
      appearance: none;
      color: $slate;
      padding: 5px;
      text-indent: 1rem;
      position: relative;
      background: url("../../assets/Icons/arrow_drop_down-24px.svg") no-repeat
        96% 50%;
      @include desktop {
        background: url("../../assets/Icons/arrow_drop_down-24px.svg") no-repeat
          98% 50%;
      }
      &:focus-visible {
        background: url("../../assets/Icons/arrow_drop_down-24px-blue.svg")
          no-repeat 96% 50%;
        @include desktop {
          background: url("../../assets/Icons/arrow_drop_down-24px.svg")
            no-repeat 98% 50%;
        }
      }
    }

    &--check {
      margin-bottom: 0rem;
    }
  }

  &__status {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &__check {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 50%;
    color: $slate;
    &--checked {
      color: $instock-black;
    }
  }

  &__label {
    margin-top: 16px;
    @include label-links-buttons;

    &--stock {
      margin-top: 4px;
      font-weight: 400;
    }
  }

  &__btn-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(247, 248, 249, 0.7);
    @include tablet {
      justify-content: end;
      padding-right: 3rem;
    }
  }

  &__btn {
    background-color: $instock-indigo;
    color: $white;
    width: 139px;
    height: 36px;
    border: none;
    border-radius: 20px;
    width: 50%;
    cursor: pointer;
    @include label-links-buttons;
    &:hover {
      background-color: $instock-black;
    }

    @include tablet {
      width: 8%;
      height: 35px;
    }

    &--white {
      color: $slate;
      background-color: $white;
      border: 1px solid $cloud;
      margin-right: 1rem;
      &:hover {
        border: 1px solid $instock-indigo;
        color: $instock-indigo;
        background-color: $white;
      }
    }
  }

  &__break {
    border-top: 1px solid $cloud; /* Use border to style the divider */
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    @include tablet {
      display: none;
    }
  }
}
