@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-item {
  &__header {
    border-bottom: gray;
    border-width: 1px;
  }
  &__body {
    display: flex;
  }
}
