@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit {
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
    margin: 1rem;
    

    &__title-box {
        padding: 0rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        padding-right: 10px;
    }
}

.form {
    &__box {
        padding: 0rem 1rem;
        display: flex;
        flex-direction: column;
    }

    &__input {
        border: 1px solid $cloud;
        border-radius: 20px;
        height: 36px;
        position: relative; /* Make the parent container relative */

        &::placeholder {
            padding: 0rem 1rem;
            color: $instock-black;
        }

        &--text {
            height: 120px;

            &::placeholder {
                padding: 0.2rem 1rem;
            }
        }

        &--select {
            appearance: none;
            padding: 5px;
            text-indent: 1rem;
            position: relative;
            background: url('../../assets/Icons/arrow_drop_down-24px.svg') no-repeat 95% 50%;
        }
    }
}
