@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;


.list{
    padding-left: auto;
    padding-right: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px $cloud;
    overflow: hidden;

    &__main-container{
        padding: 0 16px 16px;
        align-items: center;
        border-radius: 4px;

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 0 36px 16px;
        }

        @include desktop {
            padding:  0 63px 16px;
        }
    }


    &__search-container{
        border: 1px solid $slate;
        width: 100%;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        height: 36px;
        margin-bottom: 16px;

        &:focus-within {
            border: 1px solid $instock-indigo;
        }


        @include tablet {
            margin: 0;
            width: fit-content;
            margin-left: auto;
        }
        
    }

    &__search {
        border: none;
        margin-left: 16px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &__search-btn{
        border: none;
        background-color: $white;
        margin-right: 11px;
        border-radius: 10px;
        cursor: pointer;
    }

    &__btn {
        width: 100%;
        border-radius: 20px;
        padding: 0 16px;
        height: 36px;
        color: $white;
        background-color: $instock-indigo;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $graphite;
            transition: 1s;
        }

        @include tablet {
            margin-left: 16px;
            color: $white;
            width: auto;
            text-wrap: nowrap;
        }
    }

    &__header {
        display: none;
        background-color: $light-grey;

        @include tablet {
            padding: 0 36px;
            display: flex;
        }

        @include desktop {
            padding: 0 63px;
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--active {
            &:hover {
                text-decoration: underline;
                color: $instock-indigo;
            }
        }
    }

    &__inventory {
        text-decoration: none;
        color: $instock-indigo;
        font-weight: 600;
        margin-bottom: 8px;

        @include tablet{
            width: 30%;
            margin-bottom: 0;
        }

        @include desktop{
            width: 25%;
        }
    }

    &__category {
  
        @include tablet{
            width: 25%;
            text-wrap: wrap;
        }

        @include desktop{
            width: 20%;
            text-wrap: wrap;
        }
    }

    &__status-1 {

        @include tablet{
            width: 20%;
        }

        @include desktop{
            width: 20%;
        }
    }

    &__qty {
        @include tablet{
            width: 12%;
            text-wrap: wrap;
        }

        @include desktop{
            width: 15%;
        }
    }

    &__w-name {
        @include tablet{
            width: 25%;
            text-wrap: wrap;
            padding: 4px 0;
        }

        @include desktop{
            width: 27%;
        }
    }

    &__action {
        margin-left: auto;
        align-self: center;
    }

    &__table-header {
    @include table-header;
        color: $slate;
        text-transform: uppercase;
        padding: 0;
    }

    &__title-text {
    @include page-header;
    padding: 16px 0;
    margin: 0
    }
}