/*Titillium Web font - Google  TypeKit*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/*colors*/
.list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px #bdc5d5;
}
@media (min-width: 1280px) {
  .list {
    max-width: 1020px;
  }
}
.list__main-container {
  border-bottom: 1px solid #bdc5d5;
  padding: 0 16px 16px;
  align-items: center;
}
@media (min-width: 768px) {
  .list__main-container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .list__search-spacing {
    display: flex;
  }
}
.list__search-container {
  border: 1px solid #5c667e;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 36px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .list__search-container {
    margin: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.list__search {
  border: none;
  margin-left: 16px;
}
.list__search-btn {
  border: none;
  background-color: white;
  margin-right: 11px;
  border-radius: 10px;
}
.list__btn {
  width: 100%;
  border-radius: 20px;
  padding: 0 16px;
  height: 36px;
  color: white;
  background-color: #2e66e5;
  border: none;
}
@media (min-width: 768px) {
  .list__btn {
    margin-left: 16px;
    color: white;
  }
}
@media (min-width: 768px) {
  .list__btn {
    width: auto;
    text-wrap: nowrap;
  }
}
.list h2 {
  font-size: 11px;
  line-height: 16px;
  color: #5c667e;
  text-transform: uppercase;
}
.list h1 {
  font-size: 28px;
  line-height: 36px;
  margin: 10px;
}
.list p {
  font-size: 13px;
  line-height: 16px;
  margin: 8px 0;
}
.list__btn-mobile {
  align-self: flex-end;
}
@media (min-width: 768px) {
  .list__btn-mobile {
    display: none;
  }
}
.list__list-btns {
  display: none;
}
@media (min-width: 768px) {
  .list__list-btns {
    display: flex;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .list__header-mobile {
    display: none;
  }
}
.list__header {
  display: none;
  background-color: #f7f8f9;
}
@media (min-width: 768px) {
  .list__header {
    padding: 0 16px;
    display: flex;
  }
}
.list__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list__icons--active:hover {
  text-decoration: underline;
  color: #2e66e5;
}
@media (min-width: 768px) {
  .list__warehouse {
    width: 25%;
    text-decoration: none;
    color: #2e66e5;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .list__warehouse {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .list__address {
    width: 20%;
    text-wrap: wrap;
    padding: 8px;
  }
}
@media (min-width: 1280px) {
  .list__address {
    width: 20%;
    text-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .list__name {
    width: 20%;
    padding: 8px;
  }
}
@media (min-width: 1280px) {
  .list__name {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .list__info {
    width: 20%;
    word-wrap: wrap;
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .list__info {
    width: 20%;
  }
}
.list__action {
  margin-left: auto;
  align-self: center;
}
.list__mobile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .list__mobile-container {
    display: none;
  }
}
@media (min-width: 1280px) {
  .list__mobile-container {
    display: none;
  }
}
.list__warehouse-container {
  display: none;
}
@media (min-width: 768px) {
  .list__warehouse-container {
    display: flex;
    margin: 0 16px;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .list__warehouse-info {
    display: flex;
    justify-content: space-evenly;
  }
}
.list__warehouse-contact {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .list__warehouse-contact {
    flex-direction: row;
  }
}/*# sourceMappingURL=WarehouseList.css.map */