@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.list {
    &__table-text {
        @include table-header;
        color: $slate;
        padding: 0;
        text-transform: uppercase;
        text-wrap: nowrap;
        font-size: 0.6rem;

        &:nth-of-type(even) {
            margin-top: 10px;

            @include tablet {
                margin-top: 0;
            }
        }
    }

    &__p {
        @include body-small;
        @include body-small;
        margin: 0;
        line-height: 1.5;
        color: $instock-black;

        @include tablet {
            width: 110px;
        }

    }

    &__mobile-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15%;
        padding: 10px 16px 15px;
        border-top: 1px solid $cloud;

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__btn-mobile {
        align-self: flex-start;
        border: none;
        background-color: $white;
        padding: 8px 0 0 0;
        margin-top: auto;
        cursor: pointer;

        &--edit {
            align-self: flex-end;
        }

        @include tablet {
            display: none;
        }
    }

    &__mobile-warehouse {
        display: flex;
        flex-direction: column;
        padding-bottom: 8px;
        width: 40%;
        text-wrap: wrap;
        align-items: start;
    }

    &__header-mobile {

        @include tablet {
            display: none;
        }
    }

    &__warehouse-container {
        display: none;

        @include tablet {
            display: flex;
            padding: 8px 36px;
            align-items: center;
        }

        @include desktop {
            padding: 8px 63px;

            &:hover {
                background-color: rgb(46, 102, 229, 0.1);
            }
        }
    }

    &__border-top {
        border-top: 1px solid $cloud;
    }

    &__list-btns {
        display: none;

        @include tablet {
            display: flex;
            margin-left: auto;
        }

        :nth-child(2) {
            padding-left: 15px;
        }
    }

    &__delete-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--active {
            &:hover {
                text-decoration: underline;
                color: $instock-indigo;
            }
        }
    }

    &__warehouse {
        text-decoration: none;
        color: $instock-indigo;
        font-weight: 600;


        @include tablet {
            width: 20%;
            margin-bottom: 0;
        }

        &-text {
            width: auto;
            padding-right: 4px;
            margin-bottom: 0;
        }
    }

    &__address {

        @include tablet {
            width: 20%;
            text-wrap: wrap;
            padding: 8px;

        }

        @include desktop {
            width: 30%;
            text-wrap: wrap;
        }
    }

    &__name {

        @include tablet {
            width: 20%;
            padding: 8px;
        }

        @include desktop {
            width: 20%;
        }
    }

    &__info {
        @include tablet {
            width: 20%;
            text-wrap: wrap;
            padding: 4px;
        }

        @include tablet {
            width: 20%;
        }
    }

    &__action {
        margin-left: auto;
        align-self: center;
    }

}