@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $slate;
    min-height: 10rem;
    font-size: 14px;
    background-color: $light-grey;

    @include tablet {
        min-height: 18rem;
    }

    &__copywrite {
        align-self: flex-end;
        margin-bottom: 3rem;
        bottom: 3rem;
    }
}