@use '../styles/partials/mixins.scss' as *;
@use '../styles/partials/variables.scss' as *;

.header {
    background-color: #232940;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px;
    }

    @include desktop {
        padding: 40px 70px;
    }

    &__logo {
        margin: auto;
        display: block;
        padding-top: 30px;
        padding-bottom: 20px;

        @include tablet {
            margin: 0;
            padding: 0;
        }
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0 30px 0;
        margin: 0;
        list-style: none;
        color: white;

        @include tablet {
            padding: 0;
        }
    }

    &__list-item {
        line-height: 2;
        padding: 4px 35px;
        font-size: 0.7rem;
        cursor: pointer;


        @include tablet {
            padding: 4px 20px;
        }

        &:hover {
            text-decoration: underline;
        }

        &:active {
            border-radius: 20px;
            background-color: #13182C;
        }
    }
}